.content-wrap {
  position: relative;
  left: 11%;
  top: 70px;
  width: 89%;
  min-height: calc(100vh - 70px);
}
.content-wrap .content {
  position: absolute;
  width: 98%;
  min-height: calc(100vh - 110px);
  margin-top: 20px;
  margin-left: 1%;
  border: 1px solid #aac;
}
