.ant-table-body th {
    padding: 10px 5px !important;
    text-align: center !important;
}

.ant-table-body td {
    padding: 10px 5px !important;
    text-align: center !important;
    vertical-align: middle;
}